.red {
    background-color: rgb(237, 28, 36);
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.light-yellow {
    background-color: lightgoldenrodyellow;
}

.green {
    background-color: lightgreen;
}