<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Album</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/risk.css"/>
</head>
<body>
<header th:replace="common/navbar :: navbar"></header>
<hr class="dropdown-divider">
<br/>
<br/>
<main>
    <p th:if="${noPosts}">No posts</p>
    <div th:unless="${noPosts}" class="album py-5 bg-light">

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <label class="form-label" for="sortBy">Sort By</label>
                    <select class="input-group-text" id="sortBy">
                        <option value="id">Default</option>
                        <option value="title">Title</option>
                        <option value="dateDue">Date due</option>
                        <option value="fundsNeeded">Funds needed</option>
                        <option value="riskFactor">Chance to collect funds</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="form-label" for="order">Order</label>
                    <select class="input-group-text" id="order">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <label class="form-label" for="groupBy">Group by</label>
                    <select class="input-group-text" id="groupBy">
                        <option value="all">All</option>
                        <option value="completed">Completed</option>
                        <option value="expired">Expired</option>
                    </select>
                </div>
            </div>
            <br>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col" th:each="post : ${postList}">
                    <div class="card shadow-sm" th:classappend="${post.riskFactor < 25 ? 'red' : (post.riskFactor < 50 ? 'orange' : (post.riskFactor < 75 ? 'yellow' : (post.riskFactor < 100 ? 'light-yellow' : (post.riskFactor == 100 ? 'green' : '') )))}">
                        <img class="card-img" style="object-fit: contain" width="100%" height="225"
                             th:src="${post.imagesPath[0]}">
                        <div class="card-body overflow-hidden">
                            <h4 th:text="${post.title}" style="height: 60px"></h4>
                            <p class="card-text text-truncate" style="height: 45px" th:text="${post.description}"></p>
                            <span th:if="${post.riskFactor == 100}" class="" style="color: black; margin-left: 62%;">Chance: <small th:text="${post.riskFactor+'+'}"></small></span>
                            <span th:if="${post.riskFactor < 100}" class="" style="color: black; margin-left: 62%;">Chance: <small th:text="${post.riskFactor}"></small></span>
                            <span th:if="${post.riskFactor == 101}" style="color: black; margin-left: 46%;">Chance: too early to calculate</span>
                            <span th:if="${post.riskFactor == 102}" style="color: black; margin-left: 61%;">Donation completed!</span>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a class="btn btn-sm btn-outline-secondary" style="color: black" th:href="@{/post(postid=${post.id})}">Open</a>
                                </div>
                                <span class="" style="color: black">Date due: <small th:text="${post.dateDue}"></small></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="ui-menu-divider"/>
        <nav>
            <div id="pagination"></div>
        </nav>
    </div>

</main>
<script src="/js/bootstrap.min.js"></script>
<script id="helper" src="/js/pagination.js" th:data-pages="${totalPages}"></script>
</body>
</html>